#!/bin/bash
set -euxo pipefail

apt-get update
apt-get install -y ca-certificates curl git docker.io docker-compose
systemctl enable docker
systemctl start docker

mkdir -p /opt
cd /opt
git clone ${repo_url} gbfs-bike-monitoring
cd gbfs-bike-monitoring
docker-compose up -d
